.App {
  font-family: sans-serif;
  text-align: center;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: 5px solid grey;
}

.Counter{
  color: darkred;
  
  
  
}
 .button{
   font-size: larger;
   font-weight: bold;
   background-color: darkkhaki;
 }

 